[Desktop Entry]
Name=Arctis Manager (GTK systray)
Exec=/bin/sh -c 'exec lam-gui-gtk --systray >/dev/null 2>&1'
Icon=arctis-manager
Type=Application
Terminal=false
Categories=Utility;Application;
StartupNotify=true
